

// Add normalizer;
@import './reset.scss';

// Added animate.scss
@import './animate.scss';

// Added base
@import './base';

// Import Font
@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700');

.wrapper {
  max-width: 960px;
  width : 100%;
  margin: 0 auto;
}

a {
  color: #000;
  text-decoration: none;
}

// Adding header scss
@import './chunks/Header.scss';

// Adding Landing Page scss
@import './chunks/LandingPage.scss';

// Adding HelperList
@import './chunks/HelperList.scss';

// Adding Proposal
@import './chunks/Proposal.scss';

// Adding Profile
@import './chunks/Profile.scss';

// Importing Responsive
@import './responsive.scss';